*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg_body {
    background-color: #F6F8F9;
    font-family: sans-serif;
}

/*HEADER*/
header{
    background-color: white;
    margin-bottom: 50px;
    height: 100px;
    padding: 20px 10px;
}

#top-logo {
    vertical-align: middle;
    height: 100%;
}

.logo_text {
    font-size: 45px;
    font-weight: 700;
    vertical-align: middle;
}
/*FINE HEADER*/

/*MAIN*/
main {
    height: 100%;
}

.container {
    background-color: white;
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.top-container{
    border-bottom: 1px solid white;
}

.top-container,
.body-container {
    padding: 20px 100px;
}

.body-container {
    padding-top: 20px
}


button {
    padding: 0 20px;
    border-radius: 10px;

    line-height: 2.5;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.primary {
    color: white;
    background-color: #47ADF1;
    border: 1px solid #47ADF1;

}

.disabled{
    color: grey;
    background-color: transparent;
    border: 1px solid grey;
    opacity: .6;
}


/*LIST ELEMENTS*/
ul{
    list-style-type: none;
}

li {
    padding: 15px 0px;
}
/*FINE LIST ELEMENTS*/

/*CHECK-CROSS*/
.circle {
    padding: 0px 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.green{
    border: 1px solid green;
    color: green;
}

.red{
    border: 1px solid red;
    color: red;
}
/*FINE CHECK-CROSS*/


/*TAG*/
.tag{
    color: white;
    border-radius: 12px;
    font-weight: bold;
    font-size: 9px;
    padding: 6px 8px;
    display: inline-block;
    margin-left: 10px;
}

.tag.ed {
    background-color:  #47ADF1;
}

.tag.goal {
    background-color: #9C72E4;
}

.tag.rec {
    background-color: #64C0A9;
}

.tag.mob {
    background-color: #F29E33;
}

.tag.web {
    background-color: #D863A1;
}

.tag.sale {
    background-color: #B0C926;
}
/*FINE TAG*/
